
.container-fluid

%em Company Contacts
-if @company
  = link_to 'contacts...', company_identifiers_path(@company)

  .row
    .col-sm-2
      %em
        Priority
    .col-sm-2
      %em
        Identifiers  
    .col-sm-8
      %em
        Value
  
  .row
    .col-sm-5
    %p

  - if @identifiers.empty?
    No identifiers found.  
    -#= link_to 'Identifiers', new_person_identifier_path(@person)
  - else


    - @identifiers.each do |i|
    
      .row

        .col-sm-2
          = i.rank.ordinalize
        .col-sm-2
          = i.name + ':'          
        .col-sm-2
          = i.value

      
     
      