
=link_to_unless_current 'Addresses', addresses_path
&nbsp;
=link_to_unless_current 'Carriers', companies_path
&nbsp;
=link_to_unless_current 'Comments', comments_path
&nbsp;
=link_to_unless_current 'Conditions', conditions_path
&nbsp;
=link_to_unless_current 'Contacts', identifiers_path
&nbsp;
=link_to_unless_current 'Equipment', equipment_index_path
&nbsp;
=link_to_unless_current 'Materials', materials_path
&nbsp;
=link_to_unless_current 'People', people_path
&nbsp;
=link_to_unless_current'Shipments', shipments_path
&nbsp;
=link_to_unless_current 'Tip Sites', tips_path
  