.row
  .col
    =link_to 'Addresses', addresses_path
  .col
    =link_to 'Carriers', companies_path
  .col
    =link_to 'Conditions', conditions_path
  .col
    =link_to 'Contacts', identifiers_path
  .col
    =link_to 'Equipment', equipment_index_path
  .col
    =link_to 'Materials', materials_path
  .col-sm-1
    =link_to 'People', people_path
  .col-sm
    =link_to 'Shipments', companies_path
  .col
    =link_to 'Tip Sites', tips_path
  