.row
  .col_sm
    .col_sm_2
      = link_to companies_path, class: 'btn btn-secondary' do
        %i.glyphicon.glyphicon-plus
        Companies
  
      &nbsp

      = link_to people_path, class: 'btn btn-secondary' do
        %i.glyphicon.glyphicon-plus
        People

