
.row.justify-content-md-center
  .col-sm-8
    Currently in #{controller_name}

.row
  .col-sm-1
    
.row
  .col-sm-12
  
.row
  .col-sm-2
  .col-sm-1
    = link_to 'Home', root_path      
  
  .col-sm-8
    = render "shared/finders_buttons"
    - flash.each do |name, msg|
      .row.tbg
        = content_tag :div, msg, class: name
  %hr