
.row.justify-content-md-center
  .col.col-lg-8
    
  .col-md-auto
    
  .col.col-lg-2


.row
  .col-sm-1
    
.row
  .col-md-12
  
.row
  .col-md-12
    = link_to 'Home', root_path      
    - flash.each do |name, msg|
      = content_tag :div, msg, class: name
