%header 

   
  %p.floatleft
  %p.Fr8.Network
  //= image_tag "logo.png", size: "280x90", alt: "logo"

          
  %p.floatright
  -#= link_to "Dashboard", dashboard_path
  &nbsp;
  -#= link_to "Logon or Register", admin_root_path
  &nbsp;
  = link_to 'Home', root_path
  %p
    - flash.each do |name, msg|
      = content_tag :div, msg, class: name
  %hr
  
  %br
  %br