    
<h2>An unordered set of Use Cases Generators</h2>

<ul>
<li>Dashboard -- What's Going On ?

<li>Calendar -- what deadlines are we facing?, what's been scheduled, e.g. today, tomorrow, rest of week

<li>Housekeeping --stuff like names & addresses, materials, conditions and so on
<li>Lanes -- Create them, monitor them
<li>Operations -- create, supervise, find staff
<li>Logistics --  equipment, drivers, support
<li>Loads -- Boards, etc.
<li>Bookkeeping & Invoice Management
  
  
  
