

%center
  %h1 Roll365
  %h1 Blockchain based software for shippers and their agents
  %h2 Protocol and UX research version on Fr8.Network

%center
  %h1
    = link_to 'Admin Dashboard', admin_dashboard_path
  %p
    // search path default is public/images
    = image_tag "truck.jpg", :size => "520x360" 