

%center
  %h1 Roll365
  %h1 Software for the OTR Freight Industry
  %h2 R & D Version

%p
%center

 
  // search path default is public/images
  = image_tag "Drayage-LongBeach.jpg", :size => "520x360" 
  %p
  %p

%br
%center

  = link_to shipments_path, class: 'btn btn-secondary' do
    %i.glyphicon.glyphicon-plus
      Continue to Shipments

%br


