

- if @identifiers.nil?
  
  Identifiers
  = link_to 'New Contacts', new_person_identifier(@person)

- else
  
  - @identifiers.each do |i|
    %p
    = i.rank.ordinalize + '--' + i.name + ': ' + i.value
  
  