%h1 Edit address for:  #{@address.addressable.name}

%p
  %b Parent type:
  = @address.addressable_type

= render 'form'

%table
  %tr
    %td{width: 10}
      = link_to "Back", ncaddr_path(@address.addressable_type)
    
