
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

/******************************************************/
/* filters -- buttons to filter on status of shipment */
/******************************************************/

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
}

.filters li {
    display: inline;
}

.filters li a {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border: 1px solid;
    border-radius: 3px;
}

.filters li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
    border-color: red;
}

/******************************************************/
/* make LI items large                                */
/******************************************************/

.roll365-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

/******************************************************/
/* box, shadow, NAVLINK buttons back in box           */
/******************************************************/

.roll365-app {
    background: #fff;
    border-radius: 30px;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
/******************************************************/
/* missing errors, made these up           */
/******************************************************/

header {
    font-size: 10px;
}

.scope {
    background: yellow;
}