    -#= mount_component 'Header', controller_name: controller_name, action_name: action_name, flash: flash.as_json

    = mount_component 'Header', controller_name: 'controller_name', action_name: 'action_name', flash: 'flash.as_json'
    
    = yield